<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.zenglobal.imbasket" android:versionCode="1" android:versionName="v1.0.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="IM Basket" android:icon="@drawable/icon"></application>
</manifest>